body{
  background-color: #1c1b1a;
}

.gamearea > div{
  float: left;
}

#title{
  margin: 40px;
  padding: 20px;
  font-size: 50px;
  color: #ffffff;
  font-weight: bold;
}

#scorePad {
  width: 240px;
  height: 160px;
  text-align: center;
  background-color: #383533;
  border-radius: 30px;
  margin: 20px;
  padding: 0;
}

#scoreTitle{
  margin: 20px;
  padding: 0;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

#scoreText{
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
}

#app {
    width: 582px;
    height: 582px;
    /* 그리드를 사용했기 때문에 사이즈를 줄여도 알아서 줄어든다. */
    background-color: #1c1b1a;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* 행을 4개로 하면서 비율을 일정하게 하고 싶다 => 1fr 1fr 1fr 1fr */
    /* fr = fraction, 분수. gird의 단위는 px이 아닌 분수이기 때문. */
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    /* 안쪽 여백 -> padding */
}

.bgBlock {
    background-color: #FBEDDC;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    border-radius: 20px;
}
